
<section id="burg-display-area">

    <section id="not-eaten">

        <h2>Burgers waiting to be eaten:</h2>

        <ol>
            {{#each burger}}
                {{#unless devoured}}
                    <li class="uneaten-burger">{{this.burgerName}}<br>Ordered By: {{this.Customer.dataValues.customerName}}</li>
                    <button class="devour-burg" data-id={{this.id}}>Devour It!</button>
                {{/unless}}
            {{/each}}
        </ol>

    </section>

    <img id="big-burger" src="../public/assets/img/Cali_burger.png">

    <section id="eaten">

        <h2>Burgers that have been eaten:</h2>

        <ol>
            {{#each burger}}
                {{#if devoured}}
                    <li class="eaten-burger" data-id={{this.id}}>{{this.burgerName}}<br>Eaten By: {{this.Customer.dataValues.customerName}}</li>
                {{/if}}
            {{/each}}
        </ol>

    </section>

</section>

<section id="user-choices">
    <form id="add-a-cust">
        <fieldset id="cust-house">
            <legend id="cust-legend">Customer</legend>
            <label for="cust-name" class="customer-descriptors">Add New Customer
                <input type="text" autocomplete="off" id="cust-name" name="cust-name">
            </label>
            <section id="submit-area">
                <button id="new-customer" type="submit">Add Your Name</button>
            </section>
            <section id="return-area">
                <label id="return-label" for="existing-cust" class="customer-descriptors">Customer Name Selection</label>
                <select id="existing-cust" name="existing-cust">
                    <option autocomplete="off" disabled="disabled" selected="selected" value=""> --- Select an option ---</option>
                    {{#each customer}}
                        <option autocomplete="off" class="customer" value={{this.id}}>{{this.customerName}}</option>
                    {{/each}}
                </select>
            </section>
        </fieldset>
    </form>

    <form id="add-a-burg">
        <fieldset id="form-house">
            <legend id="burg-legend">Add A Burger Here</legend>
            <label for="burg-name">
                <input type="text" autocomplete="off" id="burg-name" name="burg-name">
            </label>
            <section id="submit-area">
                <button id="add-submit" type="submit">Add Your Burger</button>
            </section>
        </fieldset>
    </form>
</section>